<!--Book Form-->
<div class="displaySetting">
  <!--Title text-->
  <p class="line_title">
    <span>
      <b>{{ title }} &nbsp;&nbsp;&nbsp;</b>
    </span>
  </p>
  <hr />
  <br />
  <form novalidate [formGroup]="form" (submit)="onSubmit()">
    <div id="shadowDiv" class="row shadow p-5 bg-white rounded">
      <!--Picture format error-->
      <div class="col p-0" style="max-width: 400px">
        <div id="formatDiv">
          <span *ngIf="!ImageFormat"
            >** File format: .jpg .jpeg or .pdf **</span
          >
          <span style="color: rgb(19, 19, 49)" *ngIf="ImageFormat"
            >Valid format</span
          >
        </div>

        <!--Main picture-->
        <div id="mainPicture">
          <!--Before upload-->
          <div class="image_wrap" *ngIf="!imageData">
            <input
              #image0
              (change)="onFileSelect($event, image0.name)"
              style="display: none"
              id="image_upload"
              name="image0"
              type="file"
            />
            <label for="image_upload" class="custom-file-upload">
              <div class="imageDiv">
                <i
                  style="opacity: 0.5; font-size: 5em; color: white; padding: 0"
                  class="fas fa-plus-square"
                ></i>
              </div>
            </label>
          </div>

          <!--After Upload-->
          <div class="image_wrap" *ngIf="imageData">
            <!--Display Picture-->
            <div class="image_display">
              <div class="d-flex justify-content-center">
                <div>
                  <img
                    [src]="imageData"
                    style="max-width: 400px; max-height: 350px"
                  />
                </div>
              </div>
            </div>

            <!--Edit layer-->
            <div class="image_edit">
              <button
                #image0_btn
                name="image0_btn"
                class="w-100 h-100 border-0 bg-transparent"
                (click)="deleteImage()"
              >
                <i
                  style="
                    position: absoluste;
                    padding-left: 20px;
                    padding-top: 10px;
                    opacity: 0.5;
                    font-size: 5em;
                    color: white;
                  "
                  class="fas fa-times-circle"
                ></i>
              </button>
            </div>
          </div>
        </div>

        <!--Description input-->
        <div id="description">
          <br />
          Description<br />
          <textarea
            cols="51"
            name="description"
            rows="3"
            formControlName="description"
          ></textarea>

          <br />
        </div>
      </div>

      <!--Right Column-->
      <div id="book_rightCol" class="col p-0 ml-3">
        <table style="font-size: 12px; line-height: 30px">
          <tr>
            <td>
              <!--Book Name-->
              Book Name<br />
              <input
                type="text"
                class="input-control"
                name="name"
                formControlName="name"
              />
            </td>
          </tr>
          <tr>
            <!--Author-->
            <td>
              Author<br />
              <input
                type="text"
                class="input-control"
                name="author"
                formControlName="author"
              />
            </td>
          </tr>
          <tr>
            <!--Publish date-->
            <td>
              Publish date<br />
              <input
                type="text"
                class="input-control"
                name="published"
                formControlName="published"
              />
            </td>
          </tr>
          <tr>
            <!--Discount Price-->
            <td>
              Discount Price<br />
              <input
                type="text"
                class="input-control"
                name="price"
                formControlName="price"
              />
            </td>
          </tr>
          <tr>
            <!--Original Price-->
            <td>
              Original Price<br />
              <input
                type="text"
                class="input-control"
                name="originalPrice"
                formControlName="originalPrice"
              />
              <div id="saleBy">
                &nbsp;<br /><i
                  style="color: maroon; font-size: 18px"
                  class="fas fa-user"
                ></i
                >Sale by {{ thisUserDisplayName }}
              </div>
              <input
                type="text"
                style="display: none"
                class="input-control"
                name="store"
                formControlName="store"
              /><br />
            </td>
          </tr>
        </table>
      </div>

      <!--Buttons-->
      <div style="width: 100%; text-align: center">
        <!--Submit button-->
        <br />
        <button type="submit" class="buttonS">
          <i class="{{ editing ? 'fas fa-save' : 'fas fa-plus-circle' }}"></i>
          {{ editing ? "Save Change" : "Add This Book" }}
        </button>

        <!--Cancel button-->
        <button class="buttonS" type="reset" routerLink="/admin/main/books">
          <i class="fas fa-undo"></i>
          Cancel
        </button>
      </div>

      <!--Validation-->
      <div
        *ngIf="!formValidate"
        style="width: 100%; text-align: center; font-size: 14px; color: maroon"
      >
        ** Must upload image **<br />** All rows should be filled **
      </div>
    </div>
  </form>

  <br /><br />
</div>
