.displaySetting {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
}

/*input control*/
input {
  width: 100%;
}
.input-control {
  border: 1px solid #eeeeee;
  background-color: seashell;
  width: 200px;
  padding: 0;
}
input[type="text"] {
  padding-left: 10px;
}
textarea {
  border: 1px solid #eeeeee;
  background-color: seashell;
  padding: 30px;
}

/*Upload main picture*/
.imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 210, 210);
  border: 1px rgb(197, 196, 196) solid;
  width: 400px;
  height: 350px;
  cursor: pointer;
}
.imageDiv:hover {
  background-color: rgb(116, 100, 100);
}
.small_side:hover {
  background-color: rgb(116, 100, 100);
}
.imageDiv_side {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-right: 50px;
}
.small_side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 1px rgb(219, 217, 217) solid;
  background-color: seashell;
}
#formatDiv {
  font-size: 14px;
  color: maroon;
  margin-top: 20px;
  margin-bottom: -45px;
  padding-top: 5px;
  padding-left: -25px;
}
#mainPicture {
  padding-right: 50px;
  width: 200px;
  margin: 0px;
}

/* Buttons */
.buttonS {
  font-weight: 600;
  border: 0px solid grey;
  margin: 20px 10px;
  width: 150px;
  color: rgb(46, 45, 45);
  background-color: #d8d5d5;
  font-size: 14px;
}
.fas {
  color: seashell;
  font-size: 15px;
  padding-right: 15px;
}

/*Table*/
#shadowDiv {
  max-width: 770px;
  padding-top: 0px !important;
  padding-bottom: 30px !important;
  margin-right: auto;
  margin-left: auto;
}
#book_rightCol {
  max-width: 200px;
}
table {
  text-align: left;
  font-size: 16px;
}
td {
  padding-top: 20px;
}
#saleBy {
  color: maroon;
}

/*image*/
.image_wrap {
  margin-left: -10px;
  margin-top: 60px;
  width: 400px;
  height: 350px;
  position: relative;
  cursor: pointer;
}
.image_display {
  width: 400px;
  height: 350px;
  background-color: rgb(255, 255, 255);
}
.image_edit {
  width: 400px;
  height: 350px;
  background-color: rgb(39, 10, 15);
  z-index: 10;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.image_edit:hover {
  opacity: 0.5;
}
#description {
  margin-left: -10px;
  text-align: left;
  line-height: 30px;
  font-size: 12px;
}
.line_title {
  margin-top: 40px;
  margin-bottom: -15px;
  font-size: 17px;
  text-align: left;
}

/* [Responsive] */
/* Smaller screen */

@media only screen and (min-width: 1190px) and (max-width: 1351px) {
  .input-control {
    width: 350px;
  }
  #book_rightCol {
    width: 400px;
    max-width: 400px;
  }
  #shadowDiv {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 400px;
    min-width: 400px;
  }
  .image_wrap {
    margin-left: 0px;
  }
  #description {
    margin-left: 25px;
  }
  textarea {
    width: 350px;
  }
  #saleBy {
    float: right;
    padding-right: 25px;
  }
  .line_title {
    margin-top: -20px;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1080px) {
  .input-control {
    width: 350px;
  }
  #book_rightCol {
    width: 400px;
    max-width: 400px;
  }
  #shadowDiv {
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 400px;
    min-width: 400px;
  }
  .image_wrap {
    margin-left: 0px;
  }
  #description {
    margin-left: 25px;
  }
  textarea {
    width: 350px;
  }
  #saleBy {
    float: right;
    padding-right: 25px;
  }
  .line_title {
    margin-top: -20px;
  }
}
