.displaySetting {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
}
.input-control {
  border: 1px solid #eeeeee;
  background-color: seashell;
  width: 200px;
  padding: 0;
}
input[type="text"] {
  padding-left: 10px;
}
textarea {
  border: 1px solid #eeeeee;
  background-color: seashell;
  padding: 15px;
}

/*Upload main picture*/
.imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(216, 210, 210);
  border: 1px rgb(197, 196, 196) solid;

  width: 400px;
  height: 350px;

  cursor: pointer;
}
.imageDiv:hover {
  background-color: rgb(116, 100, 100);
}
.small_side:hover {
  background-color: rgb(116, 100, 100);
}
.imageDiv_side {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding-right: 50px;
}
.small_side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 1px rgb(219, 217, 217) solid;
  background-color: seashell;
}

/* Buttons */
.buttonS {
  font-weight: 600;
  border: 0px solid grey;
  margin: 20px 10px;
  width: 30%;
  color: rgb(46, 45, 45);
  background-color: #d8d5d5;
  font-size: 14px;
}
.fas {
  color: seashell;
  font-size: 15px;
  padding-right: 15px;
}

/*Table*/
table {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: left;
  font-size: 16px;
}
td {
  padding-top: 20px;
}

/*Input*/
input {
  width: 100%;
}

/*image*/
.image_wrap {
  width: 400px;
  height: 350px;
  position: relative;
  cursor: pointer;
}

.image_display {
  width: 400px;
  height: 350px;
  background-color: rgb(255, 255, 255);
}

.image_edit {
  width: 400px;
  height: 350px;
  background-color: rgb(39, 10, 15);
  z-index: 10;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.image_edit:hover {
  opacity: 0.5;
}
