<!--Edit single book content-->


<!--Table-->
<div class="displaySetting">
<form novalidate #form='ngForm' (ngSubmit)='save(form)'>
  <table>
    <tr>
      <td rowspan="6" style="vertical-align: top;">
          <div class="imageDiv">Picture</div>
      </td>

      <td>
        Discount Price<br>
        <input type="text" class="input-control" name="price" [(ngModel)]='book.price'>
      </td>

    </tr>
    <tr>
      <td>
        Original Price<br>
        <input type="text" class="input-control" name="originalPrice" [(ngModel)]='book.originalPrice'>
      </td>
    </tr>
    <tr>
      <td>
         <!--Book Name-->
         Book Name<br>
         <input type="text" class="input-control" name="name" [(ngModel)]='book.name'>
      </td>
    </tr>
    <tr>
      <td>
        <!--Publish date-->
        Publish date<br>
        <input type="text" class="input-control" name="published" [(ngModel)]='book.published'>
      </td>
    </tr>
    <tr>
      <td>
        <!--Author-->
        Author<br>
        <input type="text" class="input-control" name="author" [(ngModel)]='book.author'>
      </td>
    </tr>
    <tr>
      <td>
        <br> Sale by {{book.store}}
      </td>
    </tr>
    <tr>
      <td>
        <!--Description-->
        Description<br>
        <textarea cols="60" name="description" rows="5" [(ngModel)]='book.description'></textarea>
      </td>
      <td>

      </td>
    </tr>
  </table>
  <button type='submit'  class="buttonS">
    <i class="{{editing ? 'fas fa-save' : 'fas fa-plus-circle' }}"></i>
    {{ editing ? "Save Change" : "Add This Book" }}
  </button>

  <button class="buttonS" type='reset'  routerLink='/admin/main/books'>
    <i class="fas fa-undo"></i>
    Cancel
  </button>
</form>
<br><br>
</div>

<!--Old-->





