<header>
  <!--Main Navigation-->
  <div style="min-width: 500px">
    <nav class="navbar-expand-xl navbar-dark" id="sideNav">
      <!-- Image and text -->
      <div
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        id="pictureDiv"
      >
        <a routerLink="/home" style="text-decoration: none">
          <nav class="navbar-brand js-scroll-trigger" id="navClass">
            <a routerLink="/home" style="text-decoration: none">
              <img
                src="../../assets/images/picture.jpg"
                width="160"
                height="160"
                id="profilePicture"
                loading="lazy"
              />
              <p id="name">FREYA&nbsp;&nbsp;KIM</p>
              <p id="title">SOFTWARE&nbsp;&nbsp;ENGINEER</p>
            </a>
          </nav>
        </a>
      </div>

      <!--contact buttons-->
      <div id="hamburgerDiv">
        <span>
          <div id="contactInfo">
            <!--GitHub-->
            <button
              class="contactButton"
              type="button"
              data-container="body"
              data-trigger="hover"
              data-toggle="popover"
              data-placement="top"
              data-content="Open GitHub in new Tab"
              onclick=" window.open('https://github.com/FreyaKim0','_blank')"
            >
              <i class="fab fa-github"></i>
            </button>

            <!--linkedIn-->
            <button
              class="contactButton"
              type="button"
              data-container="body"
              data-trigger="hover"
              data-toggle="popover"
              data-placement="top"
              data-content="Open LinkedIn in new Tab"
              onclick=" window.open('http://www.linkedin.com/in/xutungjin','_blank')"
            >
              <i class="fab fa-linkedin"></i>
            </button>

            <!--Logout and Login-->

            <a
              *ngIf="isLoggedIn()"
              (click)="onLogoutClick()"
              routerLink="/logout"
              id="contactButton"
              class="btn"
              type="button"
            >
              <i class="fas fa-sign-out-alt" style="padding-left: 5px"></i>
              <div class="words">&nbsp;logout</div>
            </a>
            <a
              *ngIf="!isLoggedIn()"
              (click)="onLoginClick()"
              id="contactButton"
              class="btn"
              type="button"
              routerLink="/login"
            >
              <i class="fas fa-sign-out-alt" style="padding-left: 5px"></i>
              <div class="words">&nbsp;login</div>
            </a>
          </div>

          <!--Hamburger buttons-->
          <button
            id="hamburger_btn"
            style="float: right"
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span
              style="float: right"
              class="navbar-toggler-icon btn-sm"
            ></span>
          </button>
        </span>
      </div>

      <!-- Dropdown List-->
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/services">Service</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['active']">
            <a id="projectDropDown" class="nav-link" routerLink="/projects"
              >Project</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">About</a>
          </li>

          <!--<li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/contact">Contact</a>
          </li>-->
        </ul>
      </div>
    </nav>
  </div>
</header>
