<div
  style="
    min-height: 170vh;
    width: 100%;
    height: 100%;
    background-color: #f7f6f7;
  "
>
  <app-base-page></app-base-page>

  <!--introduction text-->
  <div id="words">
    Hello! My full name is Freya. I am a second-year computer science student at
    Centennial College in Toronto Canada and I am excited to develope my career
    as web-developer. Below is the courses I have taken in the school. Please
    Click here to view my
    <span id="resume"
      ><a target="_blank" href="./assets/images/portfolio.pdf"
        >co-op resume</a
      ></span
    >.<br /><br />In addition for CS degree, I also have finished a BA of Design
    in Taiwan. My personal hobby are music, painting ,exercise and travel.<br />&nbsp;
  </div>

  <!--picture-->
  <img id="study" src="./assets/images/study_scope.jpg" />

  <div id="words">
    My email is xutungjin@gmail.com, you can also add me through linkedIn
    https://www.linkedin.com/in/xutungjin/. I am looking for a coop for the next
    3 semester (2021 FALL / 2021 WINTER / 2021 SUMMER) Looking forward to
    hearing from you. Thank you!<br />&nbsp;<br />&nbsp;
  </div>
</div>
