<!--Personal admin page-->

<div class="text-center mt-3">
  <app-book-store-header></app-book-store-header>
</div>

<div class="main_wrap_admin">
  <div class="row d-flex justify-content-center m-0">
    <!-- Left column (filters) -->
    <div class="left_menu">
      <!--Administrator Name-->
      <div class="name_bar">{{ thisUserAlphabet }}</div>
      <div id="display_name">{{ thisUserDisplayName }}<br /></div>

      <!--Sale Book divider-->
      <div class="divier_words">Sale Books</div>
      <hr />

      <!--Function lists-->
      <button
        class="buttonS"
        routerLink="/admin/main/books"
        routerLinkActive="active"
      >
        Manage Products</button
      ><br /><br />

      <button class="buttonS" routerLink="/admin/main/manage-order">
        Manage Orders</button
      ><br /><br />

      <div class="divier_words">Buy Books</div>
      <hr />

      <button
        class="buttonS"
        routerLink="/admin/main/mycart"
        routerLinkActive="active"
      >
        Shopping Cart</button
      ><br /><br />

      <button
        class="buttonS"
        routerLink="/admin/main/orders"
        routerLinkActive="active"
      >
        Purchase History
      </button>

      <hr />

      <button class="buttonS" routerLink="/book-list" routerLinkActive="active">
        Back to Main
      </button>
      <br /><br />
    </div>

    <!-- Right column (books)-->
    <div class="right_content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
