<!--cart button-->
<div class="cartButton">
  <div class="cart">
    <button [disabled]="cart.itemCount == 0" routerLink="/admin/main/mycart">
      <i class="fa fa-shopping-cart"></i>
    </button>
  </div>
</div>

<!--words-->
<div class="words_item" *ngIf="cart.itemCount > 1">
  {{ cart.itemCount }} books&nbsp;-&nbsp;
  <span style="color: grey; font-size: 12px">
    {{ cart.cartPrice | currency: "USD":"symbol":"2.2-2" }}
  </span>
</div>

<div class="words_item" *ngIf="cart.itemCount == 1">
  {{ cart.itemCount }} book&nbsp;-&nbsp;
  <span style="color: grey; font-size: 12px">
    {{ cart.cartPrice | currency: "USD":"symbol":"2.2-2" }}
  </span>
</div>

<div class="words_empty" *ngIf="cart.itemCount == 0">empty cart</div>
