/*cart icon button*/
button {
  border-width: 0em;
  background-color: rgba(240, 248, 255, 0);
}

/*background div*/
.cartButton {
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: rgb(90, 11, 11);
}
.cart {
  margin-top: 20px;
  margin-left: 8px;
  position: absolute;
}
.fa {
  padding-left: 3px;
  color: rgb(224, 216, 216);
  font-size: 30px;
  float: left;
}
.words_empty {
  text-align: center;
  color: rgb(109, 5, 5);
  font-size: 14px;
  margin-top: 10px;
}
.words_item {
  text-align: center;
  color: rgb(109, 5, 5);
  font-size: 14px;
  margin-top: 10px;
}
.contactButton {
  opacity: 0.5;
  background-color: transparent;
  border-width: 0px;
  margin-right: 5px;
  float: left;
}
.contactButton:hover {
  opacity: 1;
}
.contactButton:focus {
  opacity: 1;
  border-width: 0px;
}

/*[ Responsive ]*/
@media (min-width: 1190px) {
  .contactButton {
    float: none;
  }
}
