/* Book tables */
.edit_dialog {
  width: 229px;
  height: 40px;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  padding-top: 10px;
  background-color: rgba(255, 245, 238, 0.863);
}
#bookDiv {
  width: 231px;
  height: 350px;
  border: 1px solid rgb(240, 236, 236);
  margin: 10px;
}
.bookName {
  margin-top: 235px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  font-weight: 600;
  width: 180px;
  text-align: left;
}
.orderTable {
  width: 70%;
}
#DivWarning {
  display: block;
  font-size: 14px;
  width: 400px;
  height: 100px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(197, 191, 191);
  text-align: center;
}

/* Buttons */
.editButton {
  margin-top: 20px;
  margin-left: 180px;
  position: absolute;
  z-index: 10;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.buttonS {
  font-weight: 600;
  border: 0px solid grey;
  margin: 20px 10px;
  width: 30%;
  min-width: 150px;
  color: rgb(46, 45, 45);
  background-color: #d8d5d5;
  font-size: 14px;
}
.fas {
  color: seashell;
  font-size: 15px;
}
.delete {
  margin-top: -6px;
  margin-left: 8px;
  position: absolute;
}
.delete_icon {
  margin: auto;
}

/* Product picture div */
.imageDiv {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  width: 229px;
  height: 230px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  cursor: pointer;
}
.imageDiv:hover .edit_dialog {
  height: 40px;
}

/* edit button div */
.edit_dialog {
  position: absolute;
  bottom: 0;
  width: 229px;
  height: 0px;
  padding-top: 10px;
  z-index: 10;
  transition: height 0.7s;
  font-size: 12px;
  background-color: rgba(226, 109, 26, 0.082);
}
.line_title {
  margin-top: 40px;
  margin-bottom: -15px;
  font-size: 17px;
  text-align: left;
}

/* [Responsive] */
/* Smaller screen */
@media only screen and (min-width: 1px) and (max-width: 1189px) {
  .line_title {
    margin-top: 0px;
  }
}
