/* Div alignment */
#grid_placeholder {
  display: none;
}
#content_in_main_wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
  position: relative;
}

/*[ Responsive ]*/
/*Bigger screen*/
@media (min-width: 1190px) {
  #content_in_main_wrapper {
    height: 100vh;
  }
  #grid_placeholder {
    display: block;
    width: 100%;
  }
  .main_wrapper {
    grid-template-columns: 20% 80%;
    display: grid;
  }
}
