.toggleDiv {
  font-size: 14px;
}
#left {
  width: 100%;
  margin-right: 40px;
  margin-left: 40px;
}
.wrap {
  display: flex;
  width: 100%;
}
.line_title {
  margin-top: 40px;
  margin-bottom: -20px;
  font-size: 17px;
  text-align: left;
}
table {
  margin-top: -10px;
  text-align: left;
  width: 90%;
  font-size: 14px;
  color: grey;
}

.buttonS {
  border-radius: 10px;
  font-weight: 600;
  border: 0px solid grey;
  padding-left: 10px;
  margin: 10px 10px;
  width: 100px;
  color: rgb(46, 45, 45);
  background-color: #d8d5d5;
  font-size: 14px;
}

/*Toggle*/
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

button:focus {
  outline: 0;
}

.mat-slide-toggle .mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #49c5b6;
}

.mat-slide-toggle .mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #49c5b6;
}
