<div id="background">
  <div id="placeholder"></div>
  <div id="intro_h">
    Welcome to my profolio,<br />
    <div id="int">
      <span id="sub_h"> I am a CS undergraduate focused in </span>
      <span id="color_h"> web development </span>
      <span id="sub_h"> . Please </span>
      <span id="color_h"> <a href="/login">login</a> </span>
      <span id="sub_h">
        for full authentication. (User: guest / Password: password2021)</span
      >
      <br /><br />
    </div>

    <!--buttons-->
    <div class="button_cont">
      <a class="example_home" href="/projects" rel="nofollow noopener">
        <span id="button_home"> VIEW&nbsp;&nbsp;PROJECT </span>
      </a>
      <a
        target="_blank"
        class="example_home"
        href="./assets/images/portfolio.pdf"
        rel="nofollow noopener"
      >
        <span id="button_home"> CO-OP&nbsp;&nbsp;RESUME </span>
      </a>
    </div>
  </div>
  <br /><br /><br />
</div>
