<!DOCTYPE html>
<html>

  <head>
    <title> <%= title %> </title>
    <!--CSS section-->
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' /> 
    <link rel='stylesheet' href='/content/app.css' />
    <link rel='stylesheet' href='/content/full-width.css' />
    <link rel='stylesheet' href='/content/add.css' /> 
    <link rel='stylesheet' href='/content/contact.css' /> 
    <link rel='icon' type= 'image/x-icon' href ='/assets/images/favicon.ico'>
  </head>

  <body>
  <!--Partial:header-->
  <%- include('../partials/header.ejs') %>
    
  <!--Partial:content and footer-->
  <div id="main" class="main_wrapper">
       
    <div id="grid_placeholder" class="main_grid_constraint">
    </div> 
    
    <div id="content_in_main_wrapper" class="main_grid_constraint">  
    <%- include('../partials/content.ejs') %>

<!----------------------->
<!------page content----->
<!----------------------->

<div class="mail_wrap">
      <div id="mail"><br>
      <form class="form" method="POST">
      <table>
        <tr>
          <td class="form">
          <input type="text" 
                 id="contact_name"
                 placeholder=" Contact name"
                 name="name" required
                 class="input_f">
          </td>
        </tr>
        <tr>
          <td class="form">
          <input type="text" 
                 id="contact_phone"      
                 placeholder=" Phone" 
                 name="author" required
                 class="input_f">
          </td>
        </tr>
        <tr>
          <td  class="form">
             <input type="text" 
                    id="contact_mail"
                    placeholder=" Mail"
                    name="published" required
                    class="input_f">
          </td>
        </tr>
 
        <!--Hide-->
        <div id="description_display">
                <label for="descriptionTextArea">Description</label>
                <input type="text" class="form-control"
                id="descriptionTextArea"
                placeholder="Enter the description"
                name="description">
        </div>
        
         <tr>
          <td  class="form">
            <!--Submit buttons-->
            <div id="buttons_wrap"><br>
                <a href="/book-list" class="delete_button">Cancel</a>
                <button class="submit_button_add">Submit</button>
                <br><br>
            </div>
          </td>   
    
        </tr>
      </table>
      </form>  
      </div>
    </div>



 
<!----------------------->
<!------page finish----->
<!----------------------->


  <%- include('../partials/footer.ejs') %>
  </div>
  </div> 
  
  <!--JS section-->
  <script src='/jquery/dist/jquery.min.js'></script> <!--Jquery must before bootstrap for popover-->  
  <script src='/scripts/app.js'></script>
  <script src='/scripts/nav.js'></script>
  <script src='/popper.js/dist/umd/popper.min.js'></script>
  <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
  </body>

</html>
