<div id="service_whole">
  <app-base-page></app-base-page>
  <!--intro text-->
  <div id="intro_s">
    The below are my skill sets and the fields that I want to work in.
  </div>

  <!--1st row-->
  <div class="service_div">
    <div class="service_image_wrap">
      <img class="service_img" src="./assets/images/s3.jpg" />
    </div>

    <div class="service_content">
      <span class="title_s">Front-end web development</span>

      <!--diveded screen-->
      <div id="wrapper">
        <div id="c1" class="text_s">
          I have a basic understanding of MEAN and MERN stack. My last internship
          is React junior developer. I had a good time with my team and built a
          <a href="https://holiday.habaneroconsulting.com/" target="_blank">holiday card recipe</a>. My latest Angular project
          is a <a href="/book-list/all">shopping cart websitet</a>.
        </div>

        <div id="c2"></div>

        <div id="c3" class="text_s">
          <div class="grey_service">
            I can help the team with TypeScript/JavaScript development:
            bootstraping, layouts, refactoring and build setup with good sense
            of design.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--2nd row-->
  <div class="service_div">
    <div class="service_image_wrap">
      <img class="service_img" src="./assets/images/s1.jpg" />
    </div>

    <div class="service_content">
      <span class="title_s">Back-end web development</span>

      <!--diveded screen-->
      <div id="wrapper">
        <div id="c1" class="text_s">
          <div class="grey_service">
            For back-end, my current experience is using MongoDB. I also have
            done two SQL courses (basic / advanced) at Centennial College.
          </div>
        </div>

        <div id="c2"></div>

        <div id="c3" class="text_s">
          I can help with developing APIs, cloud servers, remote data
          synchronizations or simply data entry/orgnizing.
        </div>
      </div>
    </div>
  </div>

  <!--3th row-->
  <div class="service_div">
    <div class="service_image_wrap">
      <img class="service_img" src="./assets/images/s2.jpg" />
    </div>

    <div class="service_content">
      <span class="title_s">Mobile app development</span>

      <!--diveded screen-->
      <div id="wrapper">
        <div id="c1" class="text_s">
          During my time I have built several simple
          <a
            href="https://github.com/FreyaKim0/Exercises-Android-Studio"
            target="_blank"
            >android mobile applications</a
          >
          by using tool box such as gridview. I can complete form contraints and
          components base on design wireframes.
        </div>

        <div id="c2"></div>

        <div id="c3">
          <div class="grey_service">
            I can help the team with basic intents and activities
            implementation, or making responsive layouts.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--4th row-->
  <div class="service_div">
    <div class="service_image_wrap">
      <img class="service_img" src="./assets/images/s4.jpg" />
    </div>

    <div class="service_content">
      <span class="title_s">UX/UI design</span>

      <!--diveded screen-->
      <div id="wrapper2">
        <div id="c1" class="text_s">
          <div class="grey_service">
            Since I am experienced in graphic design, I can produce consistency
            <a
              href="https://www.figma.com/file/bU87uuAoSWBq9L8kzGTUag/Coffee-Crunch-Code"
              target="_blank"
              >wireframe template</a
            >
            design and typography that base on the team's needs.
          </div>
        </div>

        <div id="c2"></div>

        <div id="c3" class="text_s">
          I care about good UI and concern about other team member's point of
          view when processing group project.
        </div>
      </div>
    </div>
  </div>

  <!--divider-->
  <div class="service_div">
    <div class="divider1"></div>
    <div class="divider2"></div>
  </div>

  <div
    style="
      float: left;
      height: 60px;
      margin-top: -10px;
      width: 100%;
      background-color: #f2f4f5;
    "
  ></div>
</div>
