<div class="container-fluid">
  <div class="row">
    <!--Filter-->
    <div id="filter" class="col-2 ml-5">

        <span style="font-size:25px;">Filter by</span>
        <hr>

        <!--Price-->
        <span>Price</span>
        <hr>

        <!--Authors-->
        <span>Authors</span><br>
        <button class="buttonS" (click)='changeAuthor()'>
          All
        </button><br>

        <button *ngFor='let author of authors'
        class="buttonS"
        [class.active] = 'author == selectedAuthor'
        (click)='changeAuthor(author)'>
            {{author}}
        </button><br>

        <hr>

        <!--Publish year-->
        <span>Publish Year</span><br>

        <hr>

        <!--Items per page-->
        <span>Display</span><br><br>
        <select style="width: 90%;" [value]='booksPerPage'
        (change)='changePageSize($event.target.value)'>
          <option value="12">12 per page</option>
          <option value="24">24 per page</option>
          <option value="36">36 per page</option>
          <option value="48">48 per page</option>
        </select>



        <hr>

    </div>

    <!--Generate book divs-->

    <div id="wrapper" class="col-9">

      <router-outlet></router-outlet>

        <div class="ngContent" *ngFor='let book of books'>
            <div class="bookDiv">

                <!--image and view details-->
                <div class="imageDiv">
                  <div class="edit_dialog">
                    <a (click)='viewBook(book._id)'>
                      View Details
                    </a>
                  </div>
                </div>

                <!--Book Store-->
                <div class="bookName">
                  {{book.store}}
                </div>

                <!--book name-->
                <div class="bookName">
                  {{book.name}}
                </div>

                <!--price-->
                <div>
                  <span style="text-decoration: line-through; font-size: 12px;">{{ book.originalPrice | currency: 'USD': 'symbol': '2.2-2'}}</span>&nbsp;
                  <span style="font-size:12px; color:red;">{{ book.price | currency: 'USD': 'symbol': '2.2-2'}}</span>
                </div>

            </div>
        </div>
        <br>
     </div>
  </div>

  <button *counter='let page of pageCount' (click)='changePage(page)' class="pageNumber"
  [class.active]='page == selectedPage'>
  {{ page }}
  </button>

</div>
