<!--Nav-->
<div>
  <app-book-store-header></app-book-store-header>
</div>

<!--buttons-->
<div style="min-width: 500px">
  <button class="buttonS" routerLink="/book-list/all">
    <i class="fas fa-eye"></i> &nbsp; Buy Books
  </button>

  <button class="buttonS" routerLink="/admin/main/books">
    <i class="fas fa-plus-circle"></i> &nbsp; Sale Books
  </button>
</div>

<div class="main_wrap">
  <div class="row d-flex justify-content-center m-0">
    <!--Left Column *Filter*-->
    <div id="filter_book">
      <span><b>Filter by</b></span>
      <hr style="margin-top: 0px" />

      <!--Price-->
      <span class="filterTitle">Price </span><br />
      <div class="custom-slider">
        <ngx-slider
          [(value)]="value"
          [(highValue)]="highValue"
          [options]="options"
        ></ngx-slider>
      </div>
      <hr />

      <!--Authors-->
      <span class="filterTitle">Authors</span><br />
      <button
        style="
          font-size: 14px;
          margin-top: 10px;
          color: rgb(70, 62, 62);
          width: 90%;
          background-color: white;
          border: solid 1px grey;
        "
        (click)="changeAuthor()"
      >
        All</button
      ><br />

      <button
        *ngFor="let author of authors"
        style="
          font-size: 14px;
          margin-top: 10px;
          color: rgb(70, 62, 62);
          width: 90%;
          background-color: white;
          border: solid 1px grey;
        "
        [class.active]="author == selectedAuthor"
        (click)="changeAuthor(author)"
      >
        {{ author }}
      </button>
      <hr />

      <!--Items per page-->
      <span class="filterTitle">Page Length</span>
      <div style="margin-top: 10px">
        <select
          style="width: 90%"
          [value]="booksPerPage"
          (change)="changePageSize($event.target.value)"
        >
          <option value="12">12 per page</option>
          <option value="24">24 per page</option>
          <option value="36">36 per page</option>
          <option value="48">48 per page</option>
        </select>
      </div>

      <hr />
    </div>

    <!--Right Column *Generate book divs*-->
    <div id="bookDivs_wrap">
      <router-outlet></router-outlet>

      <div class="ngContent text-center" *ngFor="let book of books">
        <div class="bookDiv">
          <!--image and view details-->
          <div class="imageDiv" (click)="viewBook(book._id)">
            <img
              [src]="book.imagePath"
              [alt]="book.name"
              style="padding: 10px; max-width: 200px; max-height: 200px"
            />
            <div class="edit_dialog">
              <a> View Details </a>
            </div>
          </div>

          <!--book name-->
          <div class="bookName">
            {{ book.name }} &nbsp;-&nbsp;<span style="color: gray"
              >sale by {{ book.store }}</span
            >
          </div>

          <!--price-->
          <div>
            <span style="text-decoration: line-through; font-size: 12px">{{
              book.originalPrice | currency: "USD":"symbol":"2.2-2"
            }}</span
            >&nbsp;
            <span style="font-size: 12px; color: red">{{
              book.price | currency: "USD":"symbol":"2.2-2"
            }}</span>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>

  <!--page number bar-->
  <button
    *counter="let page of pageCount"
    (click)="changePage(page)"
    class="pageNumber"
    [class.active]="page == selectedPage"
  >
    {{ page }}
  </button>
  <br /><br />
</div>
