@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Main app */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Modal page */
.this_modal .modal-dialog {
  max-width: 95%;
}

/*[ Responsive ]*/
@media (min-width: 1190px) {
  .this_modal .modal-dialog {
    max-width: 70%;
  }
}
